.gray {
  color:#555555;
}
ul {
  margin:0;
}
p {
  margin:0;
}
img {
  width:100%;
  height:100%;
}
  /* --------------------------------------------------- */
  .wrap { 
    padding-bottom: 50px;
  }
  .innerWrap {
    box-sizing: border-box;
  padding:0 10px;
  }
  .tabBox li {
    height:32px;
    display: inline-block;
    box-sizing: border-box;
    width:33.3333%;
    border-right:1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
    border-bottom:1px solid #3F3D56;
    text-align: center;
    line-height: 32px;
    font-size: 11px;
    color: #3F3D56;
    background-color: #fff;
  }
  .tabBox li:nth-child(1){
    border-left: 1px solid #F7F8FC;
  }
  .tabBox li.on {
    border-bottom-color: #DD5E5E;
  }
  .tabContentBox {
    padding-top: 0;
  }
  .btnBox {
    padding-top: 30px;
    text-align: center;
  }
   .btnBox button {
    position: relative;
    display: inline-block;
    width:168px;
    height:40px;
    border-radius: 4px;
    background-color: #3f3D56;
    color:#fff;
  }
  /* 강의 카드 */
.noLec {
  width:100%;
  height:300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noLec p {
  font-size: 16px;
}
.lecCard {
  padding-top: 16px;
  color:#3F3D56;
}
.innerCard {
  border:1px solid #c4c4c4;
  border-radius: 8px;
  box-sizing: border-box;
  padding:8px;
  background-color: #fff;
}
.cardTop {
  font-size: 14px;  

  line-height: 16px;
  border-bottom: 1px solid #3F3D56;
}
.cardBody {
  padding:8px;
}
.content {
  display: grid;
  grid-template-columns: 29% 69%;
  column-gap: 2%;
  box-sizing: border-box;
  padding-top:8px;
}
.content img {
  width:100%;
  max-height: 50px;
}
.content .subtitle {
  font-size: 14px;
}
.content2 {
  display: grid;
  grid-template-columns: 60% 35%;
  column-gap: 5%;
  box-sizing: border-box;
  padding-top:8px;
}
.content2 .left p {
  font-size: 12px;
  line-height: 24px;
  border-bottom: 1px solid #c4c4c4;
}
.content2 .left p .data{

  font-size: 14px;
  float: right;
}
.content2 .left .classDay .data {
  color:#dd5e5e;
}
.content2 .right .upper{
  height:40px;
  position: relative;
}
.content2 .right .upper button {
  width:100%;
  height:100%;
  font-size: 16px;
  background-color: #3F3D56;
  color:#fff;
  padding:0;
  border-radius:5px;
}
.content2 .right .upper .liveButtonFix {
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
}
.content2 .right .upper .liveButtonFix button {
  background-color: #DD5E5E;
  color:#fff;
}
.content2 .right .under {
  margin-top:3px;
  height:32px;
}
.content2 .right .under button {
  width:100%;
  height:100%;
  font-size: 12px;
  padding:0;
  box-sizing: border-box;
  border:1px solid #c4c4c4;
  line-height: 32px;
}
.studentList{
  padding-top:8px;
}
.studentList .cardTop {
  line-height: 24px;
}
.studentList .cardTop .right {
  float: right;
  padding:0;
  border:1px solid #c4c4c4;
  font-size: 10px;
  height:20px;
  line-height: 20px;
}
.studentList .cardBody > div {
  display: grid;
  grid-template-columns: 15% calc(31% - 5px) calc(31% - 5px) calc(23% - 5px);
  grid-template-rows: 24px auto;
  column-gap: 5px;
  text-align: center;
}
.studentList > div span {
  height:100%;
  border-bottom: 1px solid #c4c4c4;
  font-size: 12px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.studentList .tableHeader span {
  height:100%;
  border-bottom: 1px solid #dd5e5e;
}
.studentInfo {
  width: 100%;
  box-sizing: border-box;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  border-radius: 4px;
  border:1px solid #F2A6A3;
  color: #F2A6A3;
  padding:0;
} 
.certification .content2 .right .upper button {
  font-size: 12px;
}
  /* 회원정보입력 */
  /* 프로필 정보 */
  .profile {
    position: relative;
    color:#3F3D56;
    box-sizing: border-box;
    padding:0 10px;
    padding-top:20px;
  }
  .profileInfo {
    border:1px solid #c4c4c4;
    border-radius: 8px;
    box-sizing: border-box;
    padding:8px;
    background-color: #fff;
  }
  .profileInfo .infoTitle{
    display: block;
    border-bottom: 1px solid #3f3D56;
    font-size: 12px;
    color:#dd5e5e;
    font-weight: bold;
  }
  .profileInfo .infoTitle .changeBtn {
    float: right;
    width:18px;
    height:18px;
    background: url(../../../assets/images/icon/pink/edit.png) no-repeat center center / cover;
  }
  .profileInfo .floatImg {
    padding-top: 10px;
    background: url(../../../assets/images/noImg.png) no-repeat center center / contain;

  }
  /* 기본정보 */
 
  .basic {
    position: relative;
    color:#3F3D56;
    box-sizing: border-box;
    padding:0 10px;
    padding-top:20px;
  }
  .basicInfo {
    border:1px solid #c4c4c4;
    border-radius: 8px;
    box-sizing: border-box;
    padding:8px;
    background-color: #fff;
  }
  .basicInfo .infoTitle {
    display: block;
    border-bottom: 1px solid #3f3D56;
    font-size: 12px;
    color:#dd5e5e;
    font-weight: bold;
  }
  .basicInfo .changePwd {
    font-size:12px;
    color:#fff;
    padding:0 8px;
    height:32px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .basicInfo .tryToChange {
    background-color: royalblue;
  }
  .basicInfo .changeCancel {
    background-color: #666;
  }
  .basicInfo .inputBox {
    box-sizing: border-box;
    padding:8px;
  }
  .basicInfo .inputBox div {
    position: relative;
  }
  .basicInfo .inputBox div span {
    display:block;
    font-size: 12px;
    color:#3F3D56;
  }
  .basicInfo .inputBox div .mat-form-field {
    color:#3F3D56;
    font-size: 14px;
    display:block;
    box-sizing: border-box;
  }
  .basicInfo .inputBox div input::placeholder {
    color:#ccc;
  }
  
  .basicInfo .inputBox div label {
    width:50%;
    font-size: 16px;
    display:inline-block;
    height:40px;
    box-sizing: border-box;
    padding-top: 12px;
    border:0;
    margin:0!important;
    text-align: center;
  }
  .basicInfo .inputBox div .mat-radio-group {
    height:40px;
    width:100%;
  }
  .basicInfo .inputBox div .mat-radio-group .mat-radio-button {
    width:50%;
    font-size: 14px;
    padding-top: 10px;
  }
  .basicInfo .inputBox div .chkPsw{
    display: block;
    position: absolute;
    font-size: 14px;
    left: 140px;
    top:7px;
    line-height: 16px;
  }
  .basicInfo .inputBox .careerBox textarea {
    width:100%;
    resize: none;
  }
  
  /* 계산서유형 */
  .bill {
    position: relative;
    color:#3F3D56;
    box-sizing: border-box;
    padding:0 10px;
    padding-top:20px;
  }
  .billInfo {
    border:1px solid #c4c4c4;
    border-radius: 8px;
    box-sizing: border-box;
    padding:8px;
    background-color: #fff;
  }
  .billInfo .infoTitle {
    display: block;
    border-bottom: 1px solid #3f3D56;
    font-size: 12px;
    color:#dd5e5e;
    font-weight: bold;
  }
  
  .billInfo >  div {
    padding:0 8px;
  }
  .billInfo div span {
    display:block;
    font-size: 12px;
    color:#3F3D56;
    padding: 8px 0;
    font-weight: bold;
  }
  .billInfo div .mat-form-field {
    display: block;
  }
  .billInfo div input::placeholder {
    color:#ccc;
  }
  .billInfo div input {
    outline: none;
  }
  .billInfo div label {
    width:50%;
    font-size: 16px;
    display:inline-block;
    height:40px;
    box-sizing: border-box;
    padding-top: 12px;
    border:0;
    margin:0!important;
    text-align: center;
  }
  .billInfo div .mat-radio-group {
    padding-top: 15px;
    width:100%;
  }
  .billInfo div .mat-radio-group .mat-radio-button {
    display: inline-block;
    width:50%;
    height:25px;
    font-size: 12px;
  }
  
  /* 강의 관련정보 */
  /* .lecture {
    padding-top : 50px;
    position: relative;
  }
  .lectureInfo .infoTitle {
    font-size: 20px;
    position: absolute;
    left:0;
    top:70px;
    color:#DD5E5E;
  }
  .lectureInfo {
    margin:0 auto;
    width:790px;
    display: grid;
    row-gap:70px;
  }

  .lectureInfo div {
    width:100%;
  }
  .lectureInfo div.gridBox {
    margin:0 auto;
    width:790px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 19px;
  }
  .lectureInfo div div  {
    position: relative;
    padding-bottom: 20px;
  }
  .lectureInfo div div .removeBtn {
    position: absolute;
    right:-60px;
    top:20px;
    background-color: #eee;
  }
  .lectureInfo div span {
    display:block;
    height:30px;
    font-size: 20px;
    color:#3F3D56;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .lectureInfo div .mat-form-field{
    width:calc(20% - 6px);
    color:#3F3D56;
    font-size: 16px;
    display:inline-block;
    height:40px;
    box-sizing: border-box;
    padding: 8px;
    margin: 0 3px;
    border:0;
  }
  .lectureInfo div span.checking{
    background-color: #3F3D56;
    border-color: #3F3D56;
  }
   .btnBox {
    padding-top: 100px;
    text-align: center;
  }
   .btnBox button {
    position: relative;
    display: inline-block;
    width:300px;
    height:60px;
    border-radius: 0;
    background-color: #DD5E5E;
    color:#fff;
    font-size:26px;
    text-align: center;
    line-height: 60px;
  }
   */
  
  /* lecture list */
  
  .lecTb {
    width: 100%;
  }
  .lecTb tr {
    text-align: center;
    height:50px;
  }
  .lecTb tr th {
    border-bottom: 1px solid #C4C4C4;
  }
  .lecTb tr td {
    border-bottom: 1px solid #C4C4C4;
    padding: 20px 0;
    vertical-align: middle;
  }
  .lecTb th {
    font-size: 18px;
    line-height: 20px;
  }
  .lecTb img {
    width: 95%;
    max-height: 220px;
    min-height: 185px;
    vertical-align: middle;
  }
  .lecTb h1 {
    font-size: 22px;
    line-height: 28px;
  }
  .lecTb p{
    text-align: center;
    padding: 10px 15px;
    margin: 0;
  }
  .tdgCtnr {
    width: 100%;
    display: grid;
    grid-template-columns: 370px 130px 180px 1fr;
    justify-items: center;
    align-items: center;
  }
  .tdgCtnr2 {
    width: 100%;
    display: grid;
    grid-template-columns: 370px 130px 180px 1fr;
    justify-items: center;
    align-items: center;
    border-top: 1px solid #c4c4c4;
  }
  
  .fontA {
    font-family: NanumSquare_ac;
  }
  .ft-16 {
    font-size: 16px;
    line-height: 18px;
  }
  .ft-18 {
    font-size: 18px;
    line-height: 20px;
  }
  .ft-22 {
    font-size: 22px;
    line-height: 28px;
  }

  .c-pink {
    color: #DD5E5E;
  }


.sendKit {
    width:33px;
    height:30px;
    background: url(../../../assets/images/icon/white/kit.png) no-repeat center center / cover;
}


