.wrap {
    height:100%;
    color:#3F3D56;
    padding-bottom: 30px;
}
.innerWrap {
    height:100%;
}
ul {
    margin:0;
}
/* 체크박스 설정 */
.agreeHole {
    display: block;
    width:16px;
    height:16px;
    border:1px solid #c4c4c4;
    background-color: #f2f2f2;
    border-radius: 100%;
    float: right;
}
.checked {
    background-color: #dd5e5e;
    position: relative;
    border-color: #dd5e5e;
}
.checked::after{
    content: '';
    width:10px;
    height:10px;
    position: absolute;
    left:2px;
    top:2px;
    background: url(../../../assets/images/icon/white/chk.png) no-repeat center center / cover;
}
/* --------------------------------------------------- */
h2 {
    text-indent: 10px;
    color:#3F3D56;
    border-bottom:1px solid #c4c4c4;
}
.tabBox li {
    height:40px;
    display: inline-block;
    width:25%;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color:#3F3D56;
    box-sizing: border-box;
    border-right: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
}
.tabBox li:last-child {
    border-right: 0;
}

.tabBox li.on {
    border-bottom-color: #dd5e5e;
}
.tabContentBox {
    padding:15px;
}
.tabContentBox > p {

    color:#3F3D56;
    font-size: 26px;
    line-height: 29px;
    text-align: left;
    margin: 0 !important;
    word-break: keep-all;

}

/* 이용약관동의 */
.agreement {
    box-sizing: border-box;
    padding-top: 20px;
}
.agreeBox {
    margin-top: 20px;
    background-color: #fff;
    border:1px solid #c4c4c4;
    border-radius: 8px;
    box-sizing: border-box;
    padding:10px;
}
.agreeBox > p {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dd5e5e;
    color:#dd5e5e;
    text-indent: 10px;
    margin: 0 !important;
}

.agreeBox > div {
    position: relative;
    padding:15px 0;
}
.agreeBox .agreeKinds {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 25px;
    margin:0!important;
    color:#555555;
    text-indent: 5px;
    font-weight: 500;
}
.agreeBox .agreeDetail {
    height:162px;
    border:1px solid #c4c4c4;
    box-sizing: border-box;
    padding:1rem;
    overflow-y: scroll;
}
.agreeBox > div label {
    float: right;
}
.agreement .btnBox {
    padding-top: 30px;
    text-align: center;
} 
.agreement .btnBox .next {
    width:100%;
    height:40px;
    border-radius: 4px;
    background-color: #dd5e5e;
    color:#fff;
    font-size:18px;
    text-align: center;
    line-height: 40px;
}
/* 이메일 인증 */
.certification {
    box-sizing: border-box;
    padding-top: 20px;
}
.emailBox {
    margin-top: 20px;
    background-color: #fff;
    border:1px solid #c4c4c4;
    border-radius: 8px;
    box-sizing: border-box;
    padding:10px;
}
.emailBox .emailTitle {
    text-align: center;
    height:40px;
    line-height: 40px;
    font-size: 18px;
    border-bottom: 1px solid #dd5e5e;
    color:#dd5e5e;
    margin: 0 auto !important;
    position: relative;
}
.emailBox .emailTitle .designA {
    width:25px;
    height:10px;
    position: absolute;
    bottom:-5px;
    left:calc(50% - 12.5px);
    background-color: #dd5e5e;
}
.emailBox > div {
    padding:10px 0;
}
.emailBox > div > div span {
    display:block;
    height:16px;
    font-size: 14px;
    color:#3F3D56;
    line-height: 16px;
    font-weight: bold;
}
.emailBox > div > div .mat-form-field {
    width:calc(100% - 85px);
    color:#3F3D56;
    font-size: 15px;
    display:inline-block;
    box-sizing: border-box;
    border:0;
}
.emailBox > div > div > button {
    margin-left: 10px;
    height:30px;
    border:1px solid #dd5e5e;
    color:#dd5e5e;
    font-size: 10px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    padding:0 5px;
}

.companyBox {
    margin-top: 20px;
    background-color: #fff;
    border:1px solid #c4c4c4;
    border-radius: 8px;
    box-sizing: border-box;
    padding:10px;
}
.companyBox .companyTitle {
    text-align: center;
    height:40px;
    line-height: 40px;
    font-size: 18px;
    border-bottom: 1px solid #dd5e5e;
    color:#dd5e5e;
    margin: 0 auto !important;
    position: relative;
}
.companyBox .companyTitle .designA {
    width:25px;
    height:10px;
    position: absolute;
    bottom:-5px;
    left:calc(50% - 12.5px);
    background-color: #dd5e5e;
}
.companyBox > div {
    padding:10px 0;

}
.companyBox > div > div {
    width:100%;
    height:70px;
} 
.companyBox > div > div span {
    display:block;
    height:16px;
    font-size: 14px;
    color:#3F3D56;
    line-height: 16px;
    font-weight: bold;
}
.companyBox > div > div .mat-form-field {
    width:100%;
    color:#3F3D56;
    font-size: 15px;
    display:inline-block;
    box-sizing: border-box;
    border:0;
}

.companyBox .companyCode > div > .mat-form-field  {
    width:calc(100% - 95px);
    display: inline-block;
}
.companyBox .companyCode > div > button {
    margin-left: 10px;
    height:30px;
    border:1px solid #dd5e5e;
    color:#dd5e5e;
    font-size: 10px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    padding:0 5px;
}
.companyBox > div > div input::placeholder{
    color:#ccc;
}

.companyBox > div > button{
    width:130px;
    height:40px;
    border:1px solid #dd5e5e;
    color:#dd5e5e;
    font-size: 18px;
    line-height: 20px;
    border-radius: 0;
    text-align: center;
    padding:0;
    position: absolute;
    right:0;
    bottom:0;
}
.companyBox .companyInfo {
    padding-top: 120px;
    position: relative;
}

.certification .btnBox {
    padding-top: 30px;
    text-align: center;
} 
.certification .btnBox button {
    position: relative;
    display: inline-block;
    width:45%;
    height:40px;
    background-color: #dd5e5e;
    color:#fff;
    font-size:14px;
    text-align: center;
    line-height: 40px;
}
.certification .btnBox .before {
    background-color: #c4c4c4;
}
.certification .btnBox .next {
    margin-left: 20px;
}
/* 회원정보입력 */
/* 기본정보 */
.basic {
    position: relative;
  color:#3F3D56;
  box-sizing: border-box;
  padding:0 10px;
  padding-top:10px;
}
.basicInfo {
    border:1px solid #c4c4c4;
  border-radius: 8px;
  box-sizing: border-box;
  padding:8px;
  background-color: #fff;
}
.basicInfo .infoTitle {
    display: block;
  border-bottom: 1px solid #3f3D56;
  font-size: 12px;
  color:#dd5e5e;
  font-weight: bold;
}
.basicInfo .inputBox {
    box-sizing: border-box;
  padding:8px;
}
.basicInfo .inputBox div {
    position: relative;
}
.basicInfo .inputBox div span {
    display:block;
  font-size: 12px;
  color:#3F3D56;
}
.basicInfo .inputBox div .mat-form-field {
    color:#3F3D56;
  font-size: 14px;
  display:block;
  box-sizing: border-box;
}
.basicInfo .inputBox div input::placeholder {
    color:#ccc;
}

.basicInfo .inputBox div label {
    width:50%;
    font-size: 16px;
    display:inline-block;
    height:40px;
    box-sizing: border-box;
    padding-top: 12px;
    border:0;
    margin:0!important;
    text-align: center;
}

.basicInfo .inputBox div .chkPsw{
    display: block;
    position: absolute;
    font-size: 14px;
    left: 140px;
    top:7px;
    line-height: 16px;
}

.basicInfo .inputBox div .mat-radio-group {
    display: inline-block;
    height:40px;
    padding-top: 15px;
    width:100%;
}
.basicInfo .inputBox div .mat-radio-group .mat-radio-button {
    width:50%;
    font-size: 14px;
}
/* 회사정보 */
.jobs {
    position: relative;
  color:#3F3D56;
  box-sizing: border-box;
  padding:0 10px;
  padding-top:10px;
}
.jobsInfo {
    border:1px solid #c4c4c4;
  border-radius: 8px;
  box-sizing: border-box;
  padding:8px;
  background-color: #fff;
}
.jobsInfo .infoTitle {
    display: block;
  border-bottom: 1px solid #3f3D56;
  font-size: 12px;
  color:#dd5e5e;
  font-weight: bold;
}
.jobsInfo .inputBox {
    box-sizing: border-box;
  padding:8px;
}
.jobsInfo .inputBox div {
    position: relative;
}
.jobsInfo .inputBox div span {
    display:block;
  font-size: 12px;
  color:#3F3D56;
}
.jobsInfo .inputBox div .mat-form-field {
    color:#3F3D56;
  font-size: 14px;
  display:block;
  box-sizing: border-box;
}
.jobsInfo .inputBox div input::placeholder {
    color:#ccc;
}

.jobsInfo .inputBox div label {
    width:50%;
    font-size: 16px;
    display:inline-block;
    height:40px;
    box-sizing: border-box;
    padding-top: 12px;
    border:0;
    margin:0!important;
    text-align: center;
}

.jobsInfo .inputBox div .mat-radio-group {
    display: inline-block;
    height:40px;
    padding-top: 15px;
    width:100%;
}
.jobsInfo .inputBox div .mat-radio-group .mat-radio-button {
    width:50%;
    font-size: 16px;
}
/* 관심영역 */
.interest {
    position: relative;
  color:#3F3D56;
  box-sizing: border-box;
  padding:0 10px;
  padding-top:10px;
}
.interestInfo {
    border:1px solid #c4c4c4;
  border-radius: 8px;
  box-sizing: border-box;
  padding:8px;
  background-color: #fff;
}
.interestInfo .infoTitle {
    display: block;
  border-bottom: 1px solid #3f3D56;
  font-size: 12px;
  color:#dd5e5e;
  font-weight: bold;
}
.interestInfo .gridBox {
    padding:8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 15px;
}
.interestInfo .gridBox div {
    height:32px;
  border-bottom: 1px solid #c4c4c4;
  box-sizing: border-box;
  padding-bottom: 15px;
}

.interestInfo .gridBox div label {
    width:100%;
    font-size: 16px;
}
.interestInfo .gridBox div label span{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    vertical-align: middle;
}
.interestInfo .gridBox div label span.checking{
    background-color: #dd5e5e;
    border-color: #dd5e5e;
}
.personal .btnBox {
    padding-top: 30px;
  text-align: center;
} 
.personal .btnBox button {
    position: relative;
    display: inline-block;
    width:45%;
    height:40px;
    background-color: #dd5e5e;
    color:#fff;
    font-size:14px;
    text-align: center;
    line-height: 40px;
}
.personal .btnBox .before {
    background-color: #c4c4c4;
}
.personal .btnBox .next {
    margin-left: 20px;
}


/* 마지막 */
.finish {
    position: relative;
  color:#3F3D56;
  box-sizing: border-box;
  padding:0 10px;
  padding-top:20px;
}
.finish p {
    padding-bottom: 10px;
}
.finishBox {
    border:1px solid #c4c4c4;
    border-radius: 8px;
    box-sizing: border-box;
    padding:30px;
    background-color: #fff;
}
.finishBox .charactor {
    margin:0 auto;
    width:168px;
    height:168px;
    background: url(../../../assets/images/icon/charactor.png) no-repeat center center / cover;
}
.finishBox p {
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
}
.finishBox p span {
    color:#dd5e5e;
}
.finish .btnBox {
    padding-top: 30px;
    text-align: center;
} 
.finish .btnBox .next {
    position: relative;
    display: inline-block;
    width:300px;
    height:40px;
    border-radius: 4px;
    background-color: #dd5e5e;
    color:#fff;
    font-size:14px;
    text-align: center;
    line-height: 40px;
}