/* Common */
.pink {
    color: #DD5E5E;
}
img {
    width:100%;
    height:100%;
}
.whitewrap {
    white-space: pre-wrap;
}
/* Category */
.category {
    padding-top: 50px;
}

.category .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #DD5E5E;
}

.category .box {
    border: 1px solid #F2A6A3;
    background-color: #FFEEEE;
    height: 80px;

    align-items: center;
}

.box .item {
    font-family: Roboto;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #3F3D56;
}

.box .selected {
    font-weight: bold;
}

/* Abstract */
.abstract {
    width: 100%;
    padding:20px 10px 0 10px;
}
.thumbnail {
    display: grid;
    padding-top: 10px;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
}

.thumbnail .item {
    display: block;
    background-color: #eee;
    height:75px;
}

.title {
    font-family: 'nanum';
    font-style: normal;
    font-weight: bold;
}

.title-header {
    display: grid;
    grid-template-columns: 52px auto;
    column-gap: 16px;
    padding-bottom: 10px;
}

.title-main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 22px;

}


.subtitle {
    position: relative;
    padding:10px 0;
}

.subtitle .desc {
    padding: 15px 0;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.subtitle-rect {
    background: #66CCCC;
    width: 100px;
    height: 50px;

    position: absolute;
}
.remain {
    width:50px;
    height:50px;
    border-radius: 5px;
    border:1px solid #DD5E5E;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    color:#DD5E5E;
    line-height: 50px;
}
.remain .remainDate {
    display: block;
    text-align: center;
    
}
.hashtag {
    padding: 5px 0;
    width:100%;
    font-family: 'nanum';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: #DD5E5E;
    text-align: center;
}
.temper {
    height:60px; 
    position: relative;
}
.thermo {
    position: relative;
    width:300px;
    margin:0 auto;
    height:50px;
    background: url(../../../assets/images/icon/0c.png) no-repeat center center / cover;
}
.thermo .thermoBar {
    position: absolute;
    top:16px;
    left:40px;
    display: block;
    /* width:245px; */
    max-width:245px;
    height:12.5px;
    background-color:#DD5E5E;
    border-radius: 7.5px;
}
.temperature {
    font-size:16px ;
    font-weight: bold;
    text-align: right;
    color:#DD5E5E;
}
.temperature .tempNum {
    font-size: 24px;
}

.classInfoBox {
    padding-top: 20px;
}
.classInfoBox .classTitle { 
    display: inline-block;
    width:80px;
    height:24px;
    border-radius: 5px;
    background-color: #3f3d56;
    color:#fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
 }
 .classInfoBox .round {
     height:24px;
     display: inline-block;
     color:#3F3D56;
     font-size: 16px;
     padding-left: 15px;
     line-height: 24px;
     font-weight: bold;
 }
 .classTable {
     padding-top: 10px;
     width:300px;
     margin:0 auto;
 }
 .classTable .tableRow {
    display: grid;
    grid-template-columns: 40px 160px 80px;
    column-gap: 10px;
 }
 .classTable .tableRow span {
    text-align: center;
    height:24px;
    line-height: 24px;
    font-size: 14px;
    border-bottom: 1px solid #c4c4c4;
 }
 .classTable .tableHeader span {
     border-color:#F2A6A3;
     font-weight: bold;
 }
.class-info-grid {
    display: inline-block;
    border: 1px solid #C4C4C4;
    border-top: 1px solid #F2A6A3;
    text-align: center;
    width:25%;
    height:52px;
}

.class-info-grid .title {
    padding-top: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #555555;
}

.class-info-grid .content {
    padding-top: 7px;
    margin:0 auto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}
.class-info-grid .content img {
    width:20px;
}

.progress-container {
    padding-top: 15px;
}

.progress-container .left {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    align-items: center;

    color: #F2A6A3;
}

.progress-container .right {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    text-align: right;

    color: #DD5E5E;
}
.class-button {
    padding-top: 10px;
}
.class-button button {
    width:50%;
    height:40px;
    font-size: 20px;
    line-height:40px;
    color:#fff;
    font-weight: bold;
    border-radius: 0;
}

.progress-bar {
    background-color: #DD5E5E;
}

.submit-grid {
    padding-top: 20px;

}

.class-apply {
    background: #F2A6A3;
    border: 1px solid #F2A6A3;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;

    color: #FFFFFF;
}

/* Submenu */
.submenu {
    padding-top: 10px;
}

.submenu > div {
    border-bottom: 1px solid #C4C4C4;
}
.submenu .title {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    height:32px;
    width:25%;
    color: #555555;
}

/* Class instruction */

/* Curriculum */
.section-title {
    background: url(../../../assets/images/img/sect_title_background.png) no-repeat center center / cover;
    height: 120px;
    width: 120px;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin:0 auto;
    color: #ffffff;
}

.dot-sm {
    height: 20px;
    padding-top: 10px;
    background: url(../../../assets/images/img/light_pink_dot.png) no-repeat center center / 8px;

}

.dot-xsm {
    height: 10px;
    padding-top: 10px;
    background: url(../../../assets/images/img/light_pink_dot.png) no-repeat center center / 5px;
}
.subtitleBox {
    padding-top: 20px;
}
.sect-subtitle {
    width:80%;
    margin:0 auto;
    border-top: 1px solid #DD5E5E;
    border-bottom: 1px solid #DD5E5E;
    padding: 10px 0;
    font-family: 'nanum';
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;

    color: #3f3d56;
}
.readyFor {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    row-gap: 20px;
}
.readyFor div {
    padding:8px 4px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 13px;
    border-right:1px solid #DD5E5E ;
}


/* Class foryou */
.foryou {
    padding: 10px;
}

.img-center {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 80px;
}

.class-point {
    border-right: 1px solid #DD5E5E;
}

.class-point .title {
    padding-top: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    font-family: Roboto;
    font-weight: normal;
    font-size: 24px;
    text-align: left;

    color:#DD5E5E;
}

.class-point .content {
    padding-top: 20pt;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-bottom: 10pt;
    font-family: Roboto;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    text-align: left;

    color: #606060;
}

/* Instructor introduction */
.instructor {
    padding:10px;
}

.sect-topborder {
    border-top: 1px solid #DD5E5E;
    width:80%;
    margin:0 auto;
    padding: 10px 0;
    font-weight: bold;
    font-size: 14px ;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    letter-spacing: 10px;
    color: #000000;
}

.instructor-box {
    background-color: #FFEEEE;
    border-top: 1px solid #DD5E5E;
    border-bottom: 1px solid #DD5E5E;
    box-sizing: border-box;
    padding:16px;
}

.instructor-picture {
    text-align: center;
}
.instructor-picture img {
    width:70%;
}

.instructor-desc {
    padding-top: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #3F3D56;
}

.instructor-picli {
    display: flex;
    justify-content: center;
    text-align: center;
}

.instructor-picli ul li {
    padding-top: 30px;
}

/* Testimonial */

.testimonial {
    padding: 10px;
}


.starWrap {
    padding-top: 10px;
    width:50%;
    margin:0 auto;
    text-align: center;
    /* border-bottom: 1px solid #F2A6A3; */
}

.testi-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
    padding:8px;
    text-align: center;
    color:#DD5E5E;
    background-color: #FFEEEE;
}

.testi-star ul li {
    float: left;
}

.refund {
    padding: 10px;
}
.refundTitle {
    display: inline-block;
    width:168px;
    height:43px;
    background-color: #ffd7d7;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 43px;
    color:#3f3d56;
}
.refuncText {
    width:100%;
    background-color: #FFEEEE;
    border-top: 1px solid #DD5E5E;
    border-bottom: 1px solid #DD5E5E;
    box-sizing: border-box;
    padding:12px;
    font-size: 12px;
    line-height: 17px;
}
.rel-items{
    padding-top: 100px;
}
/* Class introduction */
.intro {
    padding: 10px;
}
.introductionImg {
    display: block;
    box-sizing: initial;
    padding-top: 15px;
    margin:0 auto;
}
.introductionImg img {
    width:100%;
    height:100%;
}
.pointWrap {
    padding-top: 16px;
}
.classpoint {
    display: block;
    margin:0 auto;
    border-bottom: 1px solid #c4c4c4;
    padding:8px;
}

.classpoint .title {
    display: block;
    font-family: 'nanum';
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color:#DD5E5E;
}

.classpoint .content {
    display: block;
    padding-top: 15px;
    line-height: 17px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #3F3D56;
}
/* present */
.presents {
    padding: 10px;
}
.goodness {
    padding-top: 40px;
}
.goodness > div {
    border-top: 1px solid #c4c4c4;
    position: relative;
    padding-bottom:50px ;
    margin: 0 auto;
}
.goodness .title {
    width:50%;
    margin:0 auto;
    height:35px;
    border-radius: 35px;
    background-color: #3f3d56;
    color:#fff;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    position: relative;
    top:-17.5px;
}
.goodness .contents {
    padding:25px 10px; 
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
}

/* curriculum */
.curriculum {
    padding: 10px;
}
.currBox {
    padding-top: 40px;
}
.table-entry
 {
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 4px 0;
}
.innerTable{
    width:100%;
    height:100%;
    margin:0;
    border-collapse: separate;
    border-spacing: 2px 0;
}
.innerTable tr td {
    border:0;
    height:1px;
    margin:0;
    padding:0;
    vertical-align: middle;
    border-bottom: 1px solid #c4c4c4;
}
.innerTable tr:last-child td {
    border-bottom: 0;
}
.table-entry th {
    border-top: 0;
    padding:0;
    border-bottom: 1px solid #DD5E5E;
}
.table-entry tbody > tr > td {
    padding:0;
    vertical-align: middle;
    border:0;
    border-bottom: 1px solid #c4c4c4;
    font-size: 8px;
    word-break: keep-all;
}
.table-entry tbody > tr:nth-child(odd) > td:nth-child(1),
.table-entry tbody > tr:nth-child(odd) > td:nth-child(3)
{
    background-color: #FFEEEE;
}
.table-entry tbody > tr:nth-child(even) > td:nth-child(1),
.table-entry tbody > tr:nth-child(even) > td:nth-child(3)
{
    background-color: #F7F8FC;
}


/* kit */
.classKit {
    padding: 10px;
}
.kitImg , .materialImg {
    padding-top: 20px;
    margin:0 auto;
}
.kitImg img, .materialImg img {
    width:100%;
    height:100%;
}

/* 리뷰  */
.review {
    padding: 10px;
}
.reviewedBox {
    padding-top: 40px;
    max-height:350px;
    overflow-y: scroll;
}
.reviewedBox::-webkit-scrollbar {
    display: none;
}
.reviewedBox p {
    margin: 0!important;
    padding: 10px 0;
    border-bottom: 1px solid #c4c4c4;
}
.reviewedBox p:last-child {
    border-bottom: 0;
}
.reviewedBox p span{
    vertical-align: top;
}
.reviewedBox p .img { width:40%;vertical-align: middle;}
.reviewedBox p .name { font-size:16px; line-height: 18px; padding-left:15px; vertical-align: middle; font-weight: bold;}
.reviewedBox p .mention { padding-left:15px; padding-top: 10px; font-size: 16px; line-height:18px; color:#DD5E5E;}
.reviewedBox .noReviews {
    display: block;
    text-align: center;
    padding:10px 0;
    font-size:16px; 
    line-height: 18px;
    font-weight: bold;
}
.writeBox {
    border-top: 1px solid #c4c4c4;
    padding-top: 20px;
    position: relative;
}
.writeBox > div > p {
    margin: 0!important;
    color:#DD5E5E;
    line-height: 16px;
    font-size: 14px;
}
.giveStar {
    position: absolute;
    top:10px;
    right:0;
    text-align: right;
}
.giveStar p {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding-right: 10px;
}
.giveStar button {
    padding:0;
    width:150px; height:30px;
    font-size: 14px;
    line-height: 30px;
    border:1px solid #c4c4c4;
    position: relative;
    text-align: center;
}

.giveStar button::after {
    content: '▼';
    color: #c4c4c4;
    font-size: 14px;
    position:absolute;
    right:10px;
}
.giveStar button.arrowremove::after {
    content:'';
}

.giveComment p {
    display: inline-block;
    padding-bottom: 10px;
}
.mat-menu-item {
    padding:0;
    width:150px; height:40px;
    text-align: center;
    font-size: 14px;
}
.mentionBox {
    height:150px;
    box-sizing: border-box;
    padding:15px 11px;
    border: 1px solid #c4c4c4;
}
.mentionBox p {
    font-size: 17px;
    font-weight: bold;
    margin:0!important;

}
.mentionBox textarea{
    border:0;
    width:100%;
    height:90px;
    box-sizing: border-box;
    padding:8px;
    font-size: 12px;
    line-height: 15px;
    resize:none;
}
.mentionBox textarea:focus {
    outline:none;
}
.mentionBox textarea::placeholder {
    color:#c4c4c4;
}
.writeBox .buttonBox {
    padding-top: 20px;
    text-align: right;
}
.writeBox .submit {
    width:74px;
    height:24px;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    border-radius: 0;
    padding:0;
    background-color: #3F3D56;
    color:#fff;
}
/* 추천 */
.recommamd {
    padding: 10px;
}
.recommamd .title {
    width:600px;
    height:50px;
    border-bottom: 1px solid #3F3D56;
    position: relative;
    margin:0 auto;
    text-align: center;
    font-size: 30px;
}
.littleSqure {
    width:30px;
    height:10px;
    background-color:#3f3d56;
    position: absolute;
    left:calc(50% - 15px);
    bottom:-5px;
}
.recommandBox {
    padding: 35px 0 ;
    width:100%;
    background-color:#F7F8FC;
}
.recommandBox .innerWrap {
    width:1202px;
    padding: 50px 1px 10px 1px;
    overflow-x: hidden;
}
.recommandBox ul {
    height:100%;
    width:200%;
    display: grid;
    grid-template-columns: repeat(6,380px);
    column-gap: 30px;
    margin:0;
}
/* !!!!!!!!상자!!!!!!!!! */
.recommamd ul li {
    display: inline-block;
    width:380px;
    height:435px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #fff;
    vertical-align: top;
    box-sizing: border-box;
    padding: 30px 20px 0;

}
.recommamd ul li:last-child {
    margin:0;
}
.recommamd .process {
    width:150px;
    height:35px;
    color:#fff;
    background-color: #3f3d56;
    border-radius: 30px;
    position: absolute;
    left:30px;
    top:-20px;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
}
.recommamd .classcategory {
    width:150px;
    height:35px;
    color:#fff;
    border-radius: 30px;
    position: absolute;
    right:30px;
    top:-20px;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
}
.recommamd .itemHeader {
    width:340px;
    height:66px;
    margin: 0 auto;
    font-size: 26px;
    font-weight:bold;
    line-height: 30px;
}
.recommamd .itemImg {
    width:340px;
    height:200px;
}
.recommamd .thermo {
    width:100%;
    position:absolute;
    top:260px;
    left:0;
}
.recommamd .thermo .thermoBar {
    position: absolute;
    top:19px;
    left:52px;
}
.recommamd .remainDate {
    position: absolute;
    left:20px;
    color:#DD5E5E;
    top: 320px;
    font-size:22px;
    font-weight: bold;
}
.recommamd .degrees {
    position: absolute;
    right:20px;
    color:#DD5E5E;
    top: 320px;
    font-size:22px;
    font-weight: bold;
}
.recommamd .hashTag {
    width:100%;
    text-align: center;
    font-size: 20px;
    color:#DD5E5E;
    font-weight: bold;
}
.recommamd .smallText {
    padding-top: 60px;
    height:60px;
    width:270px;
    font-size: 16px;
}
.recommamd .goDetail {
    width:80px;
    height:80px;
    bottom:0;
}
.recommamd .bigText {
    padding-top: 10px;
    height:80px;
    width:100%;
    font-size: 18px;

}



