.hidden {
  display: none!important;
}
  #loginBox {
    background-color: #fff;
    width: 280px;
    height: 420px;
    border-radius: 20px;
    position: absolute;
    left: calc(50% - 140px);
    top: calc(50% - 210px);
    overflow-y: hidden;
  }
  
  .boxwrap > div {
    height:420px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
    animation: back 0.3s;
  }
  .boxwrap1 {
    margin-top:-420px;
  }
  .boxwrap2 {
    margin-top:-840px;
  }
  
  .title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
  }
  
  div.inputData {
    box-sizing: border-box;
    padding: 1rem 1rem;
  }
  
  .inputData .mat-form-field {
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    width: 100%;
  }
  
  .loginButton {
    display: block;
    width: calc(100% - 4rem);
    margin: 0 auto;
    padding:0.3rem;
    color:#fff;
    background-color:#2E71FF ;
  }
  .findButton {
    display: block;
    width: calc(100% - 2rem);
    margin: 20px auto;
    padding:0.5rem;
    color:#fff;
    background-color:darkorange ;
  }
  .sencode {
    display: block;
    width: calc(100% - 3rem);
    border:1px solid salmon;
    color:salmon;
    margin: 20px auto;
    padding:0.5rem;
    background-color: #fff;
  }
  .AccountBox {
    text-align: center;
    padding-top: 10px;
  }
  .AccountBox span {
    display: block;
    padding: 0.5rem 0;
    cursor: pointer;
    color: #777;
    font-size: 14px;
  }
  .AccountBox span:hover {
    text-decoration: underline;
  }
  .goback {
    text-align: center;
    text-decoration: underline;
  }