<nav id="nav">
  <div class="navHeader">
    <span class="beforeLog" (click)='signin()' *ngIf="!sign">로그인해주세요</span>
    <span class="afterLog" (click)="mypage()" *ngIf="sign">{{info.name}} 님</span>
    <span class="logImg" *ngIf="!sign" [matMenuTriggerFor]="signMenu"></span>
    <span class="setting" *ngIf="sign" [matMenuTriggerFor]="infoMenu"></span>
    <mat-menu #signMenu='matMenu'>
      <button mat-menu-item (click)="signin()">로그인</button>
      <button mat-menu-item [routerLink]="['/join/']" (click)="clickMenu()">회원가입</button>
    </mat-menu>
    <mat-menu #infoMenu='matMenu'>
      <button mat-menu-item (click)="mypage()">{{"my" | titlecase }} page</button>
      <!-- <button mat-menu-item *ngIf="sign && info.type" [routerLink]="['/lectureInfoList/'+info.id]" (click)="clickMenu()">수강기록부</button> -->
      <button mat-menu-item (click)="signout()">로그아웃</button>
    </mat-menu>

    <!-- <span class="beforeLog" *ngIf="!sign">로그인해주세요</span> -->
    <!-- <span class="afterLog" *ngIf="sign">홍길동님</span> -->
    <!-- <span class="logImg" *ngIf="!sign"></span> -->
    <!-- <span class="setting" *ngIf="sign"></span> -->
  </div>
  <ul class="gnb">
    <li class="allLive">
      <mat-expansion-panel hideToggle class="expansion">
        <mat-expansion-panel-header class="panelBox">
          <mat-panel-title class="mainCategory">
            <h2>모든라이브</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)='mfd($event)' class="firstSub">인생여정</p>
        <p (click)='mfd($event)'>사회생활</p>
        <p (click)='mfd($event)'>힐링</p>
        <p (click)='mfd($event)'>심리</p>
      </mat-expansion-panel>
    </li>
    <li class="preopen">
      <mat-expansion-panel hideToggle class="expansion">
        <mat-expansion-panel-header class="panelBox">
          <mat-panel-title class="mainCategory">
            <h2>오픈예정</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)='mfd($event)' class="firstSub">인생여정</p>
        <p (click)='mfd($event)'>사회생활</p>
        <p (click)='mfd($event)'>힐링</p>
        <p (click)='mfd($event)'>심리</p>
      </mat-expansion-panel>
    </li>
    <li>
      <mat-list class="expansion">
        <mat-list-item class="mainCategory pointer" [routerLink]="['todayLive']" (click)="clickMenu()">
          <h2>오늘의 라이브</h2>
        </mat-list-item>
      </mat-list>
    </li>
    <!-- <li>
      <mat-list class="expansion">
        <mat-list-item class="mainCategory pointer">
          <h2>리뷰</h2>
        </mat-list-item>
      </mat-list>
    </li> -->
    <li>
      <mat-list class="expansion">
        <mat-list-item class="mainCategory pointer" [routerLink]="['maum']" (click)="clickMenu()">
          <h2>마음도씨란?</h2>
        </mat-list-item>
      </mat-list>
    </li>
    <li>
      <mat-list class="expansion">
        <mat-list-item class="mainCategory pointer">
          <h2>한국 EAP협회소개</h2>
        </mat-list-item>
      </mat-list>
    </li>
    <li>
      <mat-expansion-panel hideToggle class="expansion">
        <mat-expansion-panel-header class="panelBox">
          <mat-panel-title class="mainCategory">
            <h2>{{"class" | uppercase}} 신청</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="firstSub">개인형 클래스</p>
        <p>맞춤형 클래스</p>
      </mat-expansion-panel>
    </li>
    <li>
      <mat-list class="expansion">
        <mat-list-item class="mainCategory pointer" [routerLink]="['inquire']" (click)="clickMenu()">
          <h2>문의</h2>
        </mat-list-item>
      </mat-list>
    </li>
  </ul>
  
  <footer id="footer">
    <div class="footerLogo"></div>
    <address>[04551]서울시 중구 수표로 45, 1201호 [저동 2가, 을지비즈센터]<br>
      {{"tel" | titlecase }} 070.4888.5434&nbsp;&nbsp;{{"fax" | titlecase }} 02.2261.2010
    </address>
  </footer>
</nav>