/* 체크박스 설정 */
.agreeHole {
  display: block;
  width:16px;
  height:16px;
  border:1px solid #c4c4c4;
  background-color: #f2f2f2;
  border-radius: 100%;
  float: right;
}
.checked {
  background-color: #dd5e5e;
  position: relative;
  border-color: #dd5e5e;
}
.checked::after{
  content: '';
  width:10px;
  height:10px;
  position: absolute;
  left:2px;
  top:2px;
  background: url(../../../assets/images/icon/white/chk.png) no-repeat center center / cover;
}
.checkFalse::after {
    content: '체크해제';
    cursor:pointer;
    font-size: 12px;
    margin-left: 10px;
    color:#ccc;
}   
.checkFalse:hover::after {
    text-decoration: underline;
    color:#666;
}
/* --------------------------------------------------- */
.wrap {
  height:100%;
  color:#3F3D56;
  padding-bottom: 30px;
}
.innerWrap {
  height:100%;
}
ul {
  margin:0;
}
h2 {
    text-indent: 10px;
    color:#3F3D56;
    border-bottom:1px solid #c4c4c4;
}
p {
  margin:0;
}
.tabBox li {
  height:40px;
  display: inline-block;
  width:50%;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  color:#3F3D56;
  box-sizing: border-box;
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.tabBox li:last-child {
  border-right: 0;
}
.tabBox li.on {
  border-bottom-color: #dd5e5e;

}
.tabContentBox {
  padding:15px;
}
.tabContentBox > p {
  color:#3F3D56;
  font-size: 26px;
  line-height: 29px;
  text-align: left;
  margin: 0 !important;
  word-break: keep-all;

}

/* 이용약관동의 */
.agreeBox {
  box-sizing: border-box;
  padding-top: 20px;
}
.agreeBox {
  margin-top: 20px;
  background-color: #fff;
  border:1px solid #c4c4c4;
  border-radius: 8px;
  box-sizing: border-box;
  padding:10px;
}
.agreeBox > p {
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dd5e5e;
  color:#dd5e5e;
  text-indent: 10px;
  margin: 0 !important;
}
.agreeBox > div {
  position: relative;
  padding:15px 0;
}
.agreeBox .agreeKinds {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 25px;
  margin:0!important;
  color:#555555;
  text-indent: 5px;
  font-weight: 500;
}
.agreeBox .agreeDetail {
    height:162px;
    border:1px solid #c4c4c4;
    box-sizing: border-box;
    padding:1rem;
    overflow-y: scroll;
}
.agreeBox > div label {
  float: right;
}
.agreeBox > div .agreeHole {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}
.agreement .btnBox {
  padding-top: 30px;
  text-align: center;
} 
.agreement .btnBox .next {
  width:100%;
  height:40px;
  border-radius: 4px;
  background-color: #dd5e5e;
  color:#fff;
  font-size:18px;
  text-align: center;
  line-height: 40px;
}

/* 회원정보입력 */
/* 프로필 정보 */
.profile {
  position: relative;
  color:#3F3D56;
  box-sizing: border-box;
  padding:0 10px;
  padding-top:20px;
}
.profileInfo {
  border:1px solid #c4c4c4;
  border-radius: 8px;
  box-sizing: border-box;
  padding:8px;
  background-color: #fff;
}
.profileInfo .infoTitle{
  display: block;
  border-bottom: 1px solid #3f3D56;
  font-size: 12px;
  color:#dd5e5e;
  font-weight: bold;
}
.profileInfo .infoTitle .changeBtn {
  float: right;
  width:18px;
  height:18px;
  background: url(../../../assets/images/icon/pink/edit.png) no-repeat center center / cover;
}
.profileInfo .floatImg {
  padding-top: 10px;
  background: url(../../../assets/images/noImg.png) no-repeat center center / contain;

}
/* 기본정보 */
.basic {
  position: relative;
  color:#3F3D56;
  box-sizing: border-box;
  padding:0 10px;
  padding-top:20px;
  }
  .basicInfo {
    border:1px solid #c4c4c4;
    border-radius: 8px;
    box-sizing: border-box;
    padding:8px;
    background-color: #fff;
  }
  .basicInfo .infoTitle {
    display: block;
    border-bottom: 1px solid #3f3D56;
    font-size: 12px;
    color:#dd5e5e;
    font-weight: bold;
  }
  
  .basicInfo .inputBox {
    box-sizing: border-box;
    padding:8px;
  }
  .basicInfo .inputBox div {
    position: relative;

  }
  .basicInfo .inputBox div span {
    display:block;
    font-size: 12px;
    color:#3F3D56;
  }
  .basicInfo .inputBox div .mat-form-field {
    color:#3F3D56;
    font-size: 14px;
    display:block;
    box-sizing: border-box;
  }
  .basicInfo .inputBox div input::placeholder {
    color:#ccc;
  }
  .basicInfo .inputBox div label {
    width:50%;
    font-size: 16px;
    display:inline-block;
    height:40px;
    box-sizing: border-box;
    padding-top: 12px;
    border:0;
    margin:0!important;
    text-align: center;
  }

  .basicInfo .inputBox div .chkPsw{
    display: block;
    position: absolute;
    font-size: 14px;
    left: 140px;
    top:7px;
    line-height: 16px;
}
  
  .basicInfo .inputBox div .mat-radio-group {
    height:40px;
    width:100%;
  }
  .basicInfo .inputBox .careerbox {
    grid-column: 1 / 3;
    width:100%;

  }
  .basicInfo .inputBox div textarea {
    width:100%;
    border:1px solid #c4c4c4;
    font-size: 14px;
    box-sizing: border-box;
    padding:0.5rem;
    resize: none;
  }
  .basicInfo .inputBox div .mat-radio-group .mat-radio-button {
    width:50%;
    font-size: 14px;
    padding-top: 10px;
  }
  /* 계산서유형 */
  .bill {
    position: relative;
    color:#3F3D56;
    box-sizing: border-box;
    padding:0 10px;
    padding-top:20px;
  }
  .billInfo {
    border:1px solid #c4c4c4;
    border-radius: 8px;
    box-sizing: border-box;
    padding:8px;
    background-color: #fff;
  }
  .billInfo .infoTitle {
    display: block;
    border-bottom: 1px solid #3f3D56;
    font-size: 12px;
    color:#dd5e5e;
    font-weight: bold;
  }
  
  .billInfo div {
    padding:0 8px;

  }
  .billInfo div span {
    display:block;
    font-size: 12px;
    color:#3F3D56;
    padding: 8px 0;
    font-weight: bold;
  }
  .billInfo div .mat-form-field {
    display: block;
  }
  .billInfo div input {
    outline: none;

  }
  .billInfo div input::placeholder {
    color:#ccc;
  }
  .billInfo div input {
    outline: none;
  }
  .billInfo div label {
    width:50%;
    font-size: 16px;
    display:inline-block;
    height:40px;
    box-sizing: border-box;
    padding-top: 12px;
    border:0;
    margin:0!important;
    text-align: center;
  }
  .billInfo div .mat-radio-group {
    padding-top: 15px;
    width:100%;
  }
  .billInfo div .mat-radio-group .mat-radio-button {
    display: inline-block;
    width:50%;
    height:25px;
    font-size: 12px;
  }
  /* 추가 정보 */
  .education {
    padding-top : 100px;
    position: relative;
  }
  .educationInfo .infoTitle {
    font-size: 20px;
    position: absolute;
    left:0;
    top:100px;
    color:#DD5E5E;
  }
  .educationInfo .infoTitle button {
    background-color: #DD5E5E;
    color:#fff;
  }
  .educationInfo {
    margin:0 auto;
    width:790px;
    display: grid;
    row-gap: 40px;
  }
  .educationInfo div {
    width:100%;
    height:70px;
    position: relative;
  }
  .educationInfo div .removeBtn {
    position: absolute;
    right:-70px;
    top:40px;
    background-color: #eee;
  }
  .educationInfo div span {
    box-sizing: border-box;
    display:block;
    height:30px;
    font-size: 20px;
    color:#3F3D56;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .educationInfo div span .chkBox{
    display: inline-block;
    width: 20px;
    height: 20px;
    border:1px solid #c4c4c4;
    border-radius: 2px;
    vertical-align: middle;
    margin-right: 20px;
  }
  .educationInfo div span .checked {
    background-color: #DD5E5E;
    border-color: #DD5E5E;
  }
  .educationInfo div .mat-form-field{
    width:calc(25% - 10px);
    color:#3F3D56;
    font-size: 16px;
    display:inline-block;
    height:40px;
    box-sizing: border-box;
    padding: 8px;
    margin: 0 5px;
    border:0;
  }
  .educationInfo div input::placeholder {
    color:#ccc;
  }
  .educationInfo div input {
    outline: none;
  }
  .educationInfo div label input[type=radio]{
    width:auto;
    font-size: 22px;
    display:inline-block;
    height:20px;
    box-sizing: border-box;
    vertical-align: middle;
  }
  .educationInfo div label input[type='radio']:checked{
  
    background-color: #3F3D56;
  }
  .educationInfo div .mat-radio-group {
    display: inline-block;
    height:40px;
    padding-top: 15px;
    width:100%;
  }
  .educationInfo div .mat-radio-group .mat-radio-button {
    width:50%;
    font-size: 16px;
  }
  /* 강의 관련정보 */
  .lecture {
    padding-top : 50px;
    position: relative;
  }
  .lectureInfo .infoTitle {
    font-size: 20px;
    position: absolute;
    left:0;
    top:70px;
    color:#DD5E5E;
  }
  .lectureInfo {
    margin:0 auto;
    width:790px;
    display: grid;
    row-gap:70px;
  }

  .lectureInfo div {
    width:100%;
  }
  .lectureInfo div.gridBox {
    margin:0 auto;
    width:790px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 19px;
  }
  .lectureInfo div div  {
    position: relative;
    padding-bottom: 20px;
  }
  .lectureInfo div div .removeBtn {
    position: absolute;
    right:-60px;
    top:20px;
    background-color: #eee;
  }
  .lectureInfo div span {
    display:block;
    height:30px;
    font-size: 20px;
    color:#3F3D56;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .lectureInfo div .mat-form-field{
    width:calc(20% - 6px);
    color:#3F3D56;
    font-size: 16px;
    display:inline-block;
    height:40px;
    box-sizing: border-box;
    padding: 8px;
    margin: 0 3px;
    border:0;
  }
  .lectureInfo div span.checking{
    background-color: #3F3D56;
    border-color: #3F3D56;
  }
  .agreement .btnBox {
    padding-top: 100px;
    text-align: center;
  }
  .personal .btnBox {
    padding:0 10px;
   padding-top: 30px;
   text-align: center;
 }
  .personal .btnBox button {
   position: relative;
   display: inline-block;
   width:45%;
   height:40px;
   background-color: #dd5e5e;
   color:#fff;
   font-size:14px;
   text-align: center;
   line-height: 40px;
}
.personal .btnBox .before {
 background-color: #c4c4c4;
}
.personal .btnBox .next {
 margin-left: 20px;
}
  