.innerWrap {
    overflow-x: hidden;
}
p {
    margin:0;
}
.arrow {
    position: absolute;
    top:50%;
    width:30px;
    height:30px;
    background-color:#fff ;
    padding:5px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.arrow::after {
    content:'';
    position: absolute;
    display: block;
    top:calc(50% - 10px);
    width:20px;
    height:20px;
}
.left{left:5%}
.left::after{left:calc(50% - 12px);
    background: url(../../../assets/images/icon/pink/arrow-left.png) no-repeat center center / contain;
}
.right{right:5%}
.right::after{right:calc(50% - 12px);
    background: url(../../../assets/images/icon/pink/arrow-right.png) no-repeat center center / contain;
}


/* common */
.slideWrap {
    width:100%;
    margin:0 auto;
    height:200px;
    overflow: hidden;
    position: relative;
    max-width: 1920px;
}
.slideWrap .slideBody {
    width:400%;
    height:100%;
}
.slideWrap .slideBody li {
    float: left;
    width:25%;
    height:100%;
    position: relative;
}
.slideWrap .slideBody li:nth-child(1){
    background: url(../../../assets/images/banner/BANNER_slide1.png) no-repeat center center / cover;
}
.slideWrap .slideBody li:nth-child(2){
    background: url(../../../assets/images/banner/BANNER_slide2.png) no-repeat center center / cover;
}
.slideWrap .slideBody li:nth-child(3){
    background: url(../../../assets/images/banner/BANNER_slide3.png) no-repeat center center / cover;
}
.slideWrap .slideBody li .text {
    display: inline-block;
    width:606px;
    height:75px;
    position:absolute;
    top:137px;
    left:calc(50% - 303px);
    font-size: 60px;
    color:#dd5e5e;
}
.dotWrap {
    position:absolute;
    width:auto;
    height:auto;
    bottom:5px;
    margin: 0!important;
}
.dotWrap .dot {
    display: inline-block;
    margin:0 4px;
    width:8px;
    height:8px;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.5);
}
.dotWrap .show {
    background-color: #F2A6A3;
}
.grid1 {
    width:200%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
/* 마음도씨 라이브 */
.nowlive {
    width:100%;
    position: relative;
}
.nowlive h2 {
    font-size: 22px;
    text-align: center;
    line-height: 28px;
    font-family: 'nanum' ,sans-serif;
    font-weight: bold;
    padding: 10px 0;
    margin:0;
}
.nowlive .banner {
    position: relative;
}
.nowlive .banner > div {
    padding: 16px 0;
}
.nowlive .banner .clive {
    margin:0 auto;
    width:320px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 28px 15px;
    position: relative;
    padding:16px 24px 8px;
    background-color: #fff;
}
.nowlive .banner .clive .openTime {
    font-size: 14px;
    width:264px;
    height:32px;
    line-height: 32px;
    color:#fff;
    background-color: #3F3D56;
    text-align: center;
    border-radius: 32px;
    position: absolute;
    top:-16px;
    left:calc(50% - 132px);
}
.nowlive .banner .cardTitle {
    margin:0!important;
    width:100%;
    height:56px;
    box-sizing: border-box;
    line-height: 18px;
    text-align: center;
    font-size: 16px;
    padding:10px 0;
}
.nowlive .banner .bannerImg {
    width:100%;
    height:224px;
}
.nowlive .banner .bannerImg img {
    width:100%;
    height:100%;
}
.nowlive .banner .temp {
    position: absolute;
    width:340px;
    height:50px;
    background: url(../../../assets/images/icon/other.png) no-repeat center center / contain;
    left:calc(50% - 170px);
    top:280px;
}
.nowlive .tempDynamic {
    position: absolute;
    width:243px;
    height:12px;
    left:60px;
    top:16.25px;
    background-color: #DD5E5E;
    border-radius: 30px;
    max-width: 450px;
}
.nowlive .openInfoBox {
    position: relative;
    height:70px;
}
.nowlive .openInfo {
    position: absolute;
    left:0;
    padding-left: 20px;
    padding-right:10px;
    width:100%;
    top:40px;
    font-size: 20px;
    font-weight: bold;
    color:#DD5E5E;
    box-sizing: border-box;
    line-height: 22px;
}
.nowlive .openInfo .classdate {
    display: inline-block;
}

.nowlive .openInfo .degree {
    float:right;
    font-size: 15px;
    color:#dd5e5e;
    padding-right: 4px;
    line-height: 22px;
}
.nowlive .openInfo .degree .howMuch{
    font-size: 20px;
}
.nowlive .banner .bannerTexts {
    width:calc(100% - 40px);
    height:60px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
}
.nowlive .banner .goArrow {
    position: absolute;
    right:0;
    bottom:0;
    width:56px;
    height:56px;
    background: url(../../../assets/images/button/arrowBtn.png) no-repeat center center / cover;   
}
/* 오픈예정 */
.preopen {
    width:100%;
    position: relative;
}
.preopen .back {
    width:100%;
    height:450px;
    position: absolute;
    top:0;
    left:0;
    background-color: #FFEEEE ;
}
.preopen h2 {
    font-size: 22px;
    text-align: center;
    line-height: 28px;
    font-family: 'nanum' ,sans-serif;
    font-weight: bold;
    padding: 10px 0;
    margin:0;
    position: relative;
}
.preopen .banner {
    position: relative;
}
.preopen .banner > div {
    margin:0 auto;
    padding:16px 0;
    position: relative;
}
.preopen .banner .pre {
    margin:0 auto;
    width:320px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 28px 15px;
    position: relative;
    padding:16px 24px 8px;
    background-color: #fff;
}
.preopen .banner .openTime {
    font-size: 14px;
    width:264px;
    height:32px;
    line-height: 32px;
    color:#fff;
    background-color: #3F3D56;
    text-align: center;
    border-radius: 32px;
    position: absolute;
    top:-16px;
    left:calc(50% - 132px);
}
.preopen .banner .cardTitle {
    margin:0!important;
    width:100%;
    height:56px;
    box-sizing: border-box;
    line-height: 18px;
    text-align: center;
    font-size: 16px;
    padding:10px 0;
}
.preopen .banner .bannerImg {
    width:100%;
    height:224px;
}
.preopen .banner .bannerImg img {
    width:100%;
    height:100%;
}
.preopen .banner .bannerTexts {
    width:calc(100% - 40px);
    height:60px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
    padding-top:10px;
}
.preopen .banner .goArrow {
    position: absolute;
    right:0;
    bottom:0;
    width:56px;
    height:56px;
    background: url(../../../assets/images/button/arrowBtn.png) no-repeat center center / cover;  
}
/* 오늘의 컨텐츠 */
.today {
    position: relative;
    overflow:hidden ;
}
.today h2 {
    font-size: 22px;
    text-align: center;
    line-height: 28px;
    font-family: 'nanum' ,sans-serif;
    font-weight: bold;
    padding: 10px 0;
    margin:0;
}
.today .innerWrap {
    padding-top:14px;
}
.today .banner {
    width:500%;
}
.today .banner .isthere {
    display: inline-block;
    width:20%;
}
.today .content {
    width:100%;
    
    padding:0 32px 20px;
    position: relative;
}
.today .content .interest{
    width:72px;
    height:72px;
    position: absolute;
    left:0;
    top:0;
    background: url(../../../assets/images/icon/white/subout.png) no-repeat center center / cover;
}
.today .content .interest .inner {
    display: block;
    width:65px;
    height:65px;
    position: absolute;
    right:0;
    bottom:0;
    background: url(../../../assets/images/icon/white/subin.png) no-repeat center center / cover;
}
.today .content .interest .inner .text {
    display: block;
    position: absolute;
    width:100%;
    left:0;
    top:calc(50% - 15px);
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}
.today .content .img {
    width:100%;
    height:230px;
}
.today .content .img img {
    width:100%;
    height:100%;
}

.today .content .todayClassInfo {
    box-sizing: border-box;
    padding:30px 0 30px 50px;
    position: relative;
}
.today .content .teacher {
    font-size: 14px;
    color:#fff;
    padding: 8px 0 0 50px;
}
.today .content .title {
    font-size: 18px;
    color:#3f3d56;
    padding: 8px 0 0 50px;
}
.today .content .description {
    font-size: 14px;
    color:#fff;
    line-height: 16px;
    padding-top: 8px;
}
.today .content .remainTime {
    width:calc(100% - 120px);
    font-size: 22px;
    line-height: 24px;
    color:#fff;
    padding-top: 20px;
    word-break: keep-all;
}

.today .content .calendarIcon {
    width:75px;
    height:88px;
    border-radius: 11px;
    text-align: center;
    position: absolute;
    top:32px;
    right:27.5px;
}
.today .content .calendarIcon .unfill {
    border:1px solid #fff;
    border-radius: 11px 11px 0 0 ;
    height:66px;
    box-sizing: border-box;
    padding-top:15px;
}
.today .content .calendarIcon .unfill .day {
    font-size: 40px;
    font-weight: 500;
    color:#fff;
    margin:0;
}
.today .content .calendarIcon .unfill .month{
    font-size:12px;
    color:#fff;
    margin:0;
    padding-top: 10px;
}
.today .content .calendarIcon .fill {
    background-color: #fff;
    height:22px;
    border-radius: 0 0 11px 11px;
}
.today .content .calendarIcon .fill .year {
    font-size: 20px;
    text-align: center;
    line-height: 22px;
}
.today .first .calendarIcon .fill .year {
    color:#66cccc;
}
.today .second .calendarIcon .fill .year {
    color:#B08FCC;
}

.today .content .goArrow {
    width:136px;
    height:55px;
    background: url(../../../assets/images/button/goClass.png) no-repeat center center / cover;
    position: absolute;
    bottom:0;
    right:0;
}


/* 이달의 top */
.month {
    position: relative;
}
.month h2 {
    font-size: 22px;
    line-height: 28px;
    padding:10px 0;
    text-align: center;
    margin:0;
}
.month .contentBox {
    display: grid;
    grid-template-rows: repeat(5,1fr);
    column-gap: 30px;
    row-gap: 20px;
    padding:10px;
    box-sizing: border-box;
}
.month .contentBox > div  {
    width:100%;
    display: grid;
    grid-template-columns: 24px 88px 200px;
}

.month .contentBox div .no {
    display: inline-block;
    width:24px;
    font-size: 20px;
    color:#DD5E5E;
    text-align: left;
    line-height: 56px;
}
.month .contentBox div p {
    margin:0!important;
}
.month .contentBox div img {
    display: inline-block;
    vertical-align: top;
    width:88px;
    height:56px;
} 
.month .contentBox div > div{
    height:100%;
    display: inline-block;
    box-sizing: border-box;
    padding-left:10px ;
}
.month .contentBox div .big {
    color:#DD5E5E;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.month .contentBox div .small{
    font-size: 15px;
    box-sizing: border-box;
    line-height: 16px;
    padding-top: 5px;
}
